body {
    background-color: #1C1C1E;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background: rgb(60,67,111);
    background: linear-gradient(0deg, rgba(60,67,111,1) 0%, rgba(28,28,30,1) 15%, rgba(28,28,30,1) 100%);
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-img {
  display: inline-block;
  width: 180px;
  height: 49px;
  background-image: url('https://cdn.glitch.global/42347811-58b4-457a-be9d-d75dc848203f/logo.svg?v=1667780182971');
  overflow: hidden;
  text-indent: -100%;
}

.nav-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-after {
  width: 632px;
  height: 382px;
}

section,
header {
    max-width: 70vw;
    margin: auto;

}


.hero-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: auto;
    max-height: 500px;
}

.download {
  margin-top: 100px;
}

.copy-and-cta {
    width: 483px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1;
}


.hero-image-wrapper {
    width: 100%;
    grid-row: 1;
    grid-column: 2;
    max-height: 400px;
}

.hero-image {
  width: 100%;
  max-height: 400px;
  min-width: 300px;

}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chev-left {
  margin-left: 12px;
}

a {
    color: #D3D3D3;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.win-lin {
    color: #5FBCFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

h2 {
    color: #D3D3D3;
    font-weight: 500;
    font-size: 44px;
    line-height: normal;
    letter-spacing: 0.005em;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    color: #d3d3d3f0;
    font-weight: 300;
    letter-spacing: 0.005em;
    font-size: 20px;
    margin-top: 1.2em;
}

h4 {
  color: #d3d3d3ed;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 22px;
  margin-top: 40px;
}

h5 {
  color: #d3d3d3db;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 20px;
  margin-top: 28px;
}

p {
    color: #D3D3D3;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
}

.feature-text {
  color: #d3d3d3d1;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.download-text {
  color: #d3d3d3d1;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;

}

.download-link {
  color: #5FBCFF;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  margin-left: 10px;
}

.space {
  height: 250px;
}

#cta-its-free {
    color: #5FBCFF;
    font-weight: 600;
    font-size: 18px;
    margin-left: 32px;
    letter-spacing: 0.02em;
}

.feature-wrapper {
    margin-top: 200px;
    display: grid;
    gap: 40px;
    max-width: ;
}

.feature-container {
    min-width: 100px;
    height: auto;
    border-radius: 32px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    margin-bottom: 36px;
    border-image-source: linear-gradient(to bottom, #454a4d 0%, #111313 100%);
    border-image-slice: 1;
    background-image: radial-gradient(circle at 50% 0%, #343a43, rgba(56, 55, 63, 0.33) 68%), linear-gradient(to bottom, #454a4d 0%, #111313 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 28px 28px 18px 28px;
    background-clip: padding-box;
}

.feature-icon {
  width: 44px;
}



.two {
  grid-row: 1;
  grid-column: 2;
}

.three {
  grid-row: 1;
  grid-column: 3;
}

.four {
  grid-row: 1;
  grid-column: 4;
}


button {
    font-family: 'Inter', sans-serif;
    color: #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 8px 8px 30px 0 rgba(61, 144, 255, 0.15);
    background-image: linear-gradient(71deg, #08baff -28%, #4288ff 16%, #6e63ff 89%);
    font-weight: 500;
    font-size: 20px;
    border: none;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    cursor: pointer;
  }

.vid-placefolder {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #macos {
    width: 302px;
    height: 56px;
  }

  .last-cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta{
    display: flex;
    align-items: center;
    margin-top: 20px;

  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 500px;
    margin-top: auto;
  }

  .footer-top-wrapper {
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    color:#D3D3D3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
  }


  #copyrights {
    padding-top: 130px;
    color:#D3D3D3;
    margin: auto;
    font-size: 14px;
    font-weight: 300;
  }

  .footer-gradients {
    overflow: hidden;
    height: 50px;
    width: 100vw;
    display: flex;
  }

  /* not sure why you have five divs for this gradient? let's discuss. */
  .gradient-1 {
  width: 721px;
  height: 510px;
  flex-grow: 0;
  margin: 0 719px 0 0;
  padding: 342px 284px 149px 120px;
  opacity: 0.3;
  mix-blend-mode: lighten;
  -webkit-filter: blur(300px);
  filter: blur(300px);
  background-image: linear-gradient(to bottom, #54cfff 4%, #6e64ff 100%);
  }
  
  .gradient-2 {
  width: 881px;
  height: 510px;
  flex-grow: 0;
  margin: 0 0 0 559px;
  padding: 342px 120px 39px 107px;
  opacity: 0.3;
  mix-blend-mode: lighten;
  -webkit-filter: blur(300px);
  filter: blur(300px);
  background-image: linear-gradient(to top, #54cfff 4%, #6e64ff 100%);
  }



  .github {
    margin-left: 20px;
  }

  .ffmpeg {
    font-size: 10px;
    color: #a2a2a2d1;
  }

  .ffmpeg-link {
    font-size: 10px;
    color: #a2a2a2d1;
    text-decoration: underline;
  }

  .download-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    width: 100%;
    height: auto;

  }

  .download-1 {
    grid-row: 1;
    grid-column: 1;
    border: 0.5px solid #464646;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .download-2 {
    grid-row: 1;
    grid-column: 2;
    border: 0.5px solid #464646;
    padding: 20px;
    border-radius: 4px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .download-3 {
    grid-row: 1;
    grid-column: 3;
    border: 0.5px solid #464646;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }